<!DOCTYPE html>
​
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
​
<!-- Bootstrap Static Header -->
<div style="background: url(https://i.postimg.cc/3N7wnb75/background.jpg)" class="jumbotron bg-cover text-white">
  <div class="container py-5 text-center">
      <h1 class="display-4 font-weight-bold">G7 Viagens</h1>
      <p class="font-italic mb-0">Os melhores destinos, as melhores lembranças.</p>
  </div>
</div>
​
<div class="container py-5">
  <h2 class="h3 font-weight-bold">Empresas cadastradas</h2>
  <div class="row">
      <div class="col-lg-8">
          <p class="font-italic text-muted"> A G7 viagens permite a você encontrar as melhores 
            <strong class="font-weight-bold text-dark"> empresas </strong> 
            para sua viagem. Busque por empresas cadastradas no conforto de sua casa e compare 
            os melhores <strong class="font-weight-bold text-dark"> preços</strong> e 
            <strong class="font-weight-bold text-dark"> serviços </strong> prestados no mercado.</p> 
​
            <p class="font-italic text-muted"> Tem uma empresa de viagem e gostaria de se conectar a nossa plataforma?
            Clique em <strong class="font-weight-bold text-dark"> Cadastrar </strong> e aproveite os
            benefícios oferecidos.</p>
      </div>
  </div>
</div>
​
<html lang="pt-br">
<head>
  <style>
    .button{
    background-color: rgb(223, 169, 116);
    border: none;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 8px;
    }
  </style>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>G7 Viagens</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>
​
  <div class="col-8 m-auto pt-3 pb-2 text-center">
    <form action="" method="GET">
      <input type="text" id="search" name="search"
      class="form-control" placeholder="Buscar por empresa parceira...">
    </form>
  </div>
​
  <div class="col-8 m-auto pt 1 pb 1 text-center">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">E-mail</th>
          <th scope="col">CNPJ</th>
          <th scope="col">Telefone</th>
        </tr>
      </thead>
      <tbody>
        {% for dbs in db %}
        <tr>
          <th>{{ dbs.id }}</th>
          <td>{{ dbs.nome }}</td>
          <td>{{ dbs.email }}</td>
          <td>{{ dbs.cnpj }}</td>
          <td>{{ dbs.telefone }}</td>
          <td>
            <a href="/view/{{ dbs.id }}" style="font-size:24px"><i class="fa fa-folder-open"></i></a>
            <a href="/edit/{{ dbs.id }}" style="font-size:24px"><i class="fa fa-edit"></i></a>
            <a href="/delete/{{ dbs.id }}" style="font-size:24px"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div> 
  <div class="col-2 m-auto pt-3 pb-2 text-center">
    <a href="/form" class="button">CADASTRAR</a>
  </div> 
</body>
​
<!-- Site footer -->
<footer class="site-footer">
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by G7 Viagens.
        </p>
      </div>
​
    
​
      <div class="col-md-4 col-sm-2 col-xs-10">
        <h6 > Conecte-se a nossas redes sociais:</h6>
​
        <ul class="social-icons">
          <a class="facebook" href="#"><i style="font-size:24px" class="fa fa-facebook"></i></a>
          <a class="facebook" href="#"><i style="font-size:24px" class="fa fa-instagram"></i></a>
          <a class="twitter" href="#"><i style="font-size:24px" class="fa fa-twitter"></i></a>
          <a class="dribbble" href="#"><i style="font-size:24px" class="fa fa-envelope"></i></a>
          <a class="dribbble" href="#"><i style="font-size:24px" class="fa fa-linkedin"></i></a>
          <a class="dribbble" href="#"><i style="font-size:24px" class="fa fa-youtube"></i></a>
​
        </ul>
      </div>
    </div>
  </div>
</footer>
​
</html>
​